@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background: beige;
    
}

.container {
    margin: 50px auto;
    
}

.container .box {
    background: rgba(3, 46, 82, 0.932);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
    transform: translateX(250%);
    transition: transform 0.5 ease;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
}

h2 {
    margin: 20px;
}

.container .box + .box {
    margin-top: 30px;
}

.box:nth-of-type(even) {
    transform: translateX(-200%);
}

.box.show {
    transform: translateX(0);
}